{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<main class="main-apropos">
  <div class="container-apopos">
    <div class="content-apopos">
      <div class="titre-apropos">
        <h1>Maroquinerie à Amiens depuis 2023</h1>
      </div>
      <div class="content-titre-apropos">
      <h2>Voyage au coeur de la maroquinnerie</h2>
        <p>L'atelier Tibag voit le jour à Amiens en 2023.</p>
        <p>John Doe crée un atelier de maroquinerie à Amiens en 2023
        L'atelier rassemble plus 15 artisants, donne vie a de nouvelles lignes de maroquinerie.
        Avec des matières nobles, durables et locales.</p>
      <h2>L'atelier français</h2>
        <p>L'atelier Tibag a fait le choix du "Made in France", dévoilant ainsi sa volonté de perpétuer l'excellence de l'artisanat français.</p>
        <p>Tous les produits sont confectionnés entièrement à la main dans l'atelier en propre de la marque par des artisans français détenant un savoir-faire unique. Les matières utilisées sont nobles, durables et locales. Elles proviennent de tanneries situées en Europe.</p>
      </div>
    </div>
      <div class="image-apropos">
          <img class="img-side-apropos" src="{{ asset('images/sac_home_page.jpg')}}" alt="Image sac a propos" />
      </div>
  </div>
</main>
{% endblock %}
