{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="overlay-image" style="background-image: url('images/jeux-video.jpeg');" aria-hidden="true"></div>
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="titre-home">DealGames</h1>
            <p class="text-carousel">Revente et échange</p>
            <p class="text-carousel">de jeux vidéo d'occasion!</p>
            <p><a class="btn btn-lg btn-primary" href="/a-propos">COMMENCER A VENDRE</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="game-pop">
    <div class="game-pop-title">
      <h2 class="game-pop-h2">Les jeux les plus populaires</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ asset('./images/hugh.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ asset('./images/hugh.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ asset('./images/hugh.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="banner-home">
    <div class="banner-content">
      <p class="banner-text first-text">Mets tes jeux en vente et gagne de l'argent</p>
      <p class="banner-text">DealGames est un site dédiée 
        aux jeux vidéo d'occasion vendus par des particuliers. </p>
      <p class="banner-text">Notre mission ? Rendre plus abordable la consommation de jeux vidéo</p>
    </div>
  </section>
</main>

{% endblock %}
