{% extends 'base.html.twig' %}

{% block title %}Hello ResellController!{% endblock %}

{% block body %}

<main class="resell-main">
    <div class="title-resell">
        <h1 class="h1-resell">Espace Revente</h1>
    </div>
    <div class="plus-new-annouces">
        <button class="btn-new-annouces">+ Créer une nouvelle annonce</button>
    </div>
    <section class="resell-announces">
        <div class="title-my-announces">
            <h2 class="h2-resell">Mes annonces</h2>
        </div>
    </section>
</main>
{% endblock %}
