@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    background-color: #272727;
    font-family: 'PT Serif', serif;
}

nav {
    background-color: #191818;

}

main {
  margin-top: 6.8vh;
}

a {
    font-size: 13px !important;
}

p {
    font-size: 15px !important;
}

h1 {
    font-size: 25px !important;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 18px !important;
}

h4, h5 {
  font-size: 15px !important;
}

@media (max-width: 992px) {
  a {
    font-size: 18px !important;
  }

  p {
    font-size: 15px !important;
  }
}

.logo {
  height: 28px;
  padding-left: 25px;
}

.inscription-icon {
  width: 1.5em;
}
  .connexion-link {
      background-color: #FF8D17;
      border-radius: 5px;
  }
    .connexion-link:hover {
      color: white !important;
    }

.nav-link {
  color: white !important;
}
  .nav-link:hover {
  color: #FF8D17 !important;
}
.btn {
  background-color: #FF8D17 !important;
  border: #FF8D17;
  border-radius: 5px !important;
}
.btn:hover {
  background-color: #F6BA7C !important;
  border: #F6BA7C;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;
}
    .nav-item {
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
  .navbar-nav {
    justify-content: center !important;
    text-align: center !important;
  }
  .nav-item {
    margin-left: 0;
}

  .carousel-caption {
    text-align: center !important;
    left: 0 !important;
    right: 0 !important;
  }
}

/************** FOOTER ****************/

.title-footer {
  color: #FF8D17;
}





/******************** HOME  ********************/

  .carousel-caption {
    bottom: 15rem;
    z-index: 10;
  }
  .carousel-item {
    height: 50rem;
    background: linear-gradient( 0deg, rgb(25 24 24) 2%, rgb(25 24 24 / 70%) 25%);
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  }
  .text-carousel {
    font-size: 40px !important;
    color: white;
  }

  .titre-home {
    color: #FF8D17;
    width: 35px;
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

@media (max-width: 992px) {
  .container-home {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
  }

  .block-content-home {
    width: 100% !important;
  }

  .image-content-home {
    width: 90% !important;
  }
}

.game-pop {
  background-color: #272727;
  margin: 0px 40px;
}
  .game-pop-h2 {
    color: white;
    margin-top: 40px;
  }

.banner-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191818;
  width: 100%;
  height: 30vh;
}
  .banner-text {
    color: white;
    text-align: center;
    font-size: 20px !important;
  }
  .first-text {
    color: #FF8D17;
    font-weight:900;
    font-size: 30px !important;
  }



/************* RESELL ************/
.resell-main {
  width: 100%;
}
.title-resell {
  height: 15vh;
  display: flex;
  align-items: center;
  margin: 0 40px;
}
  .h1-resell {
    color: white;
  }

.plus-new-annouces {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-new-annouces {
  background-color: #FF8D17;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
  .btn-new-annouces:hover {
    background-color: #F6BA7C;
    color: white;
  }

.title-my-announces {
  height: 15vh;
  display: flex;
  align-items: center;
  margin: 0 40px;
}
  .h2-resell {
    color: white;
  }

/******* Add announces *********/

.add-announces-main {
  min-height: 70vh;
}

.formulaire-add-announces {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0px;
}

.formulaire-add-announces form {
  width: 80%;
}

.title-add-announces{
  align-items: center;
  display: flex;
  height: 15vh;
  margin: 0 40px;
}
.h1-add-announces {
  color: white;
}

.vich-image {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vich-image a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.vich-image a img {
  width: 150px;
}

label {
  color: white;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input-name {
  width: 80%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color:white;
  padding: 7px 0;
  background: transparent;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.form-input-category {
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color:white;
  padding: 7px 0;
  background: transparent;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.row-form-addannounce {
  display: flex;
  flex-direction: row;
}

.input-form {
  width: 100%;
  margin-bottom: 30px;
}

.input-send {
  width: 25%;
  background-color: #FF8D17;
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.input-send:hover {
  background-color: #F6BA7C;
}

.form-input-textarea {
  width: 80%;
  height: 100px;
}

#add_annonces_imageFile_file {
  color: white;
  margin: 30px 0px;
}

#add_annonces_name, #add_annonces_category {
  font-size: 15px;
}

#add_annonces_description {
  border-radius: 10px;
}

#add_annonces_category {
  background-color: #272727;
}

/********   VIDEO GAMES   **********/


.section-videogame {
  margin: 0px 100px;
}

@media (max-width: 992px) {
  .section-videogame {
    margin: 50px;
  }
}

.title-videogame {
  align-items: center;
  display: flex;
  height: 15vh;
  margin: 0 40px;
}

.h1-videogame {
  color: white;
}

.card {
  background-color: #272727;
  border: none;
}

.card-body {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.card-img, .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  height: 100%;
}

.card-title {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

p {
  color: black;
}

.card-text {
  width: 40%;
  font-size: 13px;
  margin: 0px;
}

.text-muted {
  color: azure!important;
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
}



