@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    background-color: #272727;
    font-family: 'PT Serif', serif;
}

nav {
  background-color: #191818;

}

main {
  min-height: 70vh;
  margin-bottom: 5vh;
}

a {
    font-size: 13px !important;
}

p {
    font-size: 13px !important;
    color: white;
    line-height: 22px;
}

h1 {
    font-size: 25px !important;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 18px !important;
}

h4, h5 {
  font-size: 15px !important;
}

@media (max-width: 992px) {
  a {
    font-size: 18px !important;
  }

  p {
    font-size: 15px !important;
  }
}

.logo {
  height: 28px;
  padding-left: 25px;
}


.a-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.img-icon {
  width: 30px;
}

.inscription-icon {
  width: 1.5em;
}
  .connexion-link {
      background-color: #FF8D17;
      border-radius: 5px;
  }
  .connexion-item .connexion-link:hover {
      color: white !important;
    } 
    .text-connexion {
      color: white !important;
    }

.nav-link {
  color: white !important;
}
  .nav-link:hover {
  color: #FF8D17 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 800;
}

.btn {
  background-color: #FF8D17 !important;
  border: #FF8D17;
  border-radius: 5px !important;
}
.btn:hover {
  background-color: #F6BA7C !important;
  border: #F6BA7C;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;
}
    .nav-item {
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
  .navbar-nav {
    justify-content: center !important;
    text-align: center !important;
  }
  .nav-item {
    margin-left: 0;
}

  .carousel-caption {
    text-align: center !important;
    left: 0 !important;
    right: 0 !important;
  }
}

/************** FOOTER ****************/

.footer {
  background-color: #191818!important;
}

.title-footer {
  color: #FF8D17;
}





/******************** HOME  ********************/

  .carousel-caption {
    bottom: 15rem;
    z-index: 10;
  }
  .carousel-item {
    height: 56rem;
    background: linear-gradient( 0deg, rgb(25 24 24) 2%, rgb(25 24 24 / 70%) 25%);
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  }
  .text-carousel {
    font-size: 40px !important;
    color: white;
  }

  .titre-home {
    color: #FF8D17;
    font-size: 35px!important;
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }
@media (max-width: 992px) {
  .titre-home {
    font-size: 25px!important;
  }
  .text-carousel {
    font-size: 30px !important;
  }
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

@media (max-width: 992px) {
  .container-home {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
  }

  .block-content-home {
    width: 100% !important;
  }

  .image-content-home {
    width: 90% !important;
  }
}

.game-pop {
  background-color: #272727;
  margin: 0px 40px;
}
  .game-pop-h2 {
    color: white;
    margin-top: 40px;
  }

.banner-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#272727;
  width: 100%;
  height: 30vh;
}

  .banner-text {
    color: white;
    text-align: center;
    font-size: 20px !important;
  }
  .first-text {
    color: #FF8D17;
    font-weight:900;
    font-size: 30px !important;
  }



/************* RESELL ************/
.resell-main {
  width: 100%;
  margin-top: 5vh;
}
.title-resell {
  height: 15vh;
  display: flex;
  align-items: center;
  margin: 0 40px;
}
  .h1-resell {
    color: white;
  }

.plus-new-annouces {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-new-annouces {
  background-color: #FF8D17;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
  .btn-new-annouces:hover {
    background-color: #F6BA7C;
    color: white;
  }

.title-my-announces {
  height: 15vh;
  display: flex;
  align-items: center;
  margin: 0 40px;
}
  .h2-resell {
    color: white;
  }

/******* Add announces *********/

.add-announces-main {
  min-height: 70vh;
}

.formulaire-add-announces {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 30px 0px;
}

.formulaire-add-announces form {
  width: 80%;
}

.title-add-announces{
  align-items: center;
  display: flex;
  height: 15vh;
  margin: 0 40px;
}
.h1-add-announces {
  color: white;
}

.vich-image {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vich-image a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.vich-image a img {
  width: 150px;
}

label {
  color: white;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input-name {
  width: 80%;
  border: 0;
  border-bottom: 2px solid #FF8D17;
  outline: 0;
  font-size: 1.3rem;
  color:white;
  padding: 7px 0;
  background: transparent;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.form-input-category {
  border: 0;
  border-bottom: 2px solid #FF8D17;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.row-form-addannounce {
  display: flex;
  flex-direction: row;
}
@media (max-width: 700px) {

  .row-form-addannounce {
    display: flex;
    flex-direction: column;
  }

}

.input-form {
  width: 100%;
  margin-bottom: 30px;
}

.input-send {
  width: 100px;
  background-color: #FF8D17;
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.input-send:hover {
  background-color: #F6BA7C;
}

.form-input-textarea {
  width: 80%;
  height: 100px;
}

#add_annonces_imageFile_file {
  color: white;
  margin: 30px 0px;
}

#add_annonces_name, #add_annonces_category {
  font-size: 15px;
}

#add_annonces_description {
  border-radius: 10px;
}

#add_annonces_category {
  background-color: #272727;
}



/********   DETAILS   **********/

.main-details, .main-profil {
  margin-top: 5vh;
}

.highlights-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: var(--color-very-dark);
  overflow: hidden;
  height: 60vh;
  max-height: 350px;
  position: relative;
  margin-bottom: 10px;
}

.parallax {
  top: 0px;
  bottom: 0px;
}

.header-top-gradient {
  opacity: .6;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  content: "";
  position: absolute;
  background: linear-gradient(0deg,#191818 2%,rgba(25,24,24,.7) 25%);
  height: 100%;
  clip-path: polygon(0 0,100% 0,100% 50%,100% 100%,0 94%,0 50%);
}

.highlights-container.top-banner picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 94%, 0% 50%);
}

.highlights-container.top-banner picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.highlights-container .content {
  max-width: 1200px;
  align-self: center;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-right: 30px;
}

.highlights-container .full-link {
  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 1;
  color: #fff;
  text-decoration: none;
}

.highlights-container:after {
  content: "";
  clip-path: polygon(0 100%,100% 100%,0 0);
  background: var(--color-dark);
  height: 60px;
  min-width: 1700px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

.content {
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  left: 30px;
}

.banner-title, .container-trend, .trend {
  color: white;
  z-index: 10000;
}

.banner-title {
  font-weight: 900;
  font-size: 25px;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.trend {
  font-size: 20px;
}


@media (max-width: 992px) {

  .highlights-container .content {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .content {
    left: 0px;
  }
}

.section-videogame {
  margin: 0px 100px;
}

@media (max-width: 992px) {
  .section-videogame {
    margin: 50px;
  }
}

.category-title {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.category-h1 {
  color: white;
}

.card {
  background-color: #272727;
  border: none;
}

.card-body {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.card-img, .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card-img-top:hover {
    transform: scale(1.1);
}


.card-title {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  margin-top: 4px;
}

.card-text {
  width: 40%;
  font-size: 12px;
  margin: 0px;
}

.text-muted {
  color: azure!important;
  display: flex;
  font-size: 13px;
  justify-content: center;
}

.date-text {
  display: flex;
  justify-content: end;
  margin-top: 4px;
}


/**** REGISTER ****/

.formulaire-register form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-label {
  width: 350px;
}

.register-btn {
  width: 200px;
}

#registration_form_fullname, #registration_form_email, #registration_form_plainPassword {
  background: transparent;
    border: 0;
    border-bottom: 2px solid #FF8D17;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-left: 10px;
    outline: 0;
    padding: 7px 0;
    width: 350px;
}

#add_annonces_description {
  border: 2px solid #FF8D17;
}

@media (max-width: 500px) {

  #registration_form_fullname, #registration_form_email, #registration_form_plainPassword {
    width: 225px;
  }

  .container-label {
    width: 225px;
  }
}

.alert {
  margin-top: 80px;
}


/**** PAGE DETAILS ***/

.container-details {
  display: flex;
  flex-direction: row;
}

.img-details {
  border-radius: 15px;
  width: 100%;
}

.category-picture {
  width: 40%;
  margin-left: 25px;
}

.category-title-contact {
  width: 60%;
}

.title-category, .description-category, .container-category {
  color: white;
}



.btn-contact {
  background-color: #ff8d17;
  border-radius: 5px;
  color: white;
  width: 120px;
}

.revender-category {
  display: flex;
  flex-direction: column;
}

.title-revender {
  color: white;
}

@media (max-width: 1100px) {
  .container-details {
    flex-direction: column;
  }

  .category-picture {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 15px;
  }
}


/***** Login page *****/

#inputEmail, #inputPassword {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ff8d17;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 30px;
  margin-left: 10px;
  outline: 0;
  padding: 7px 0;
  width: 350px;
}

.formulaire-add-announces h1 {
  color: white;
}


.labelEmail, .labelPassword {
  width: 348px;
}

.liens-a {
  text-decoration: none;
  color: white;
}

.suppr-btn {
  background-color: white !important;
  color: black;
  text-decoration: none;
}


/***** PROFIL *****/

.h1-profil, .label-profil, .input-profil {
  color: #fff;
}

.container-profil {
  margin-left: 40px;
}

.container-label {
  display: flex;
}

.date-profil, .container-label  {
  margin-bottom: 15px;
}

.btn-profil {
  border: none;
  background-color: #FF8D17;
  border-radius: 5px;
  color: white;
}

.btn-profil:hover {
  background-color: #F6BA7C;
}


.title-profil {
    align-items: center;
    display: flex;
    height: 15vh;
    margin: 0 40px;
}

.date-profil {
  color: white;
  margin-left: 40px;
}

.title-card-profil, .text-card-profil {
  color: black;
  margin-left: 10px;
}

.liens-help {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 40vh;
  align-items: center;
}

.liens-profil {
  height: 150px;
  width: 320px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #fff;
  text-decoration: none;
}

.liens-profil:hover {
  background-color: #dadada;
}

.img-container {
  width: 30%;
  margin-left: 15px;
}

.img-profil {
  width: 65px;
}

@media (max-width: 992px) {
  .liens-help {
    flex-direction: column;
  }
}

