{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<main class="main-contact">
    <div class="container-main">
        <h1 class="title-contact">Contactez-nous</h1>
        <form action="{{ path('app_contact_submit') }}" method="post">
         <div class="form-group mb-3">
                <label for="exampleInputPassword1">Nom</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nom">
        </div>
                 <div class="form-group mb-3">
                <label for="exampleInputPassword1">Numéro de téléphone:</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="0601010101">
        </div>
                 <div class="form-group mb-3">
                <label for="exampleInputPassword1">Sujet</label>
                <input type="text" class="form-control" id="subject" name="subject"placeholder="Subject">
        </div>
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit..</small>
            </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            <button type="submit" class="btn btn-primary mb-5 mt-4">Submit</button>
        </form>
    </div>
</main>
{% endblock %}
